@model IEnumerable<MyWebStore.Models.EmployeeView>

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" charset="utf-8" />
	<title>Index</title>
</head>
<body>
	<table>
		@foreach (var item in Model)
		{
			<tr>

				<td>@item.ID</td>
				<td>@item.FirstName</td>
				<td>@item.Patronymic</td>
				<td>@item.SurName</td>
				<td>@item.Age</td>

			</tr>
		}
	</table>
</body>
</html>